// Fonts
$font-family: "Montserrat", sans-serif;

// Backgrounds
$container-bg:linear-gradient(to left bottom, #c52233, #bf2133, #b91f32, #b31e32, #ad1d31, #a61c2f, #9f1b2d, #981a2b, #8f1827, #861624, #7d1420, #74121d);
$main-bg: linear-gradient(to right top, #c52233, #bf2133, #b91f32, #b31e32, #ad1d31, #a61c2f, #9f1b2d, #981a2b, #8f1827, #861624, #7d1420, #74121d);

// Colors
$white: #fff;
$black: #353535;
$gray: #626262;
$error: #C52233;
$forgot: #A7333F;